<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.abbasmoharreri.computingaccount"
    android:installLocation="auto">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@mipmap/ic_launcher_2"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_2"
        android:supportsRtl="true"
        android:theme="@style/Dark_AppTheme"
        tools:ignore="HardcodedDebugMode">

        <activity android:name=".AccountLanguageActivity"
            android:exported="false"/>
        <activity android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SpeechActivity"
            android:theme="@style/NoDisplay_me"
            android:exported="false"/>
        <activity
            android:name=".SmsActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.popupdialog.UpdateWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityDialog"
            android:exported="false"/>
        <activity
            android:name=".ItemsActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/activity_title_settings"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".CraveDebtActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ReceiveActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".PaidActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".LoginActivity"
            android:label="@string/activity_title_main"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <action android:name="android.speech.action.RECOGNIZE_SPEECH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.settings.backup.BackUpAddress$MiddleActivity"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable"
            android:exported="false"/>
        <activity
            android:name=".ui.settings.backup.BackUpRestoreButton$MiddleActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <!--
<receiver
            android:name=".broadcastreceiver.SmsController"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        -->
        <!--
 <receiver
            android:name=".broadcastreceiver.RemoteControlReceiver"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="true"
            tools:ignore="UnusedAttribute">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        -->
        <!--

 <service
            android:name=".service.AccessibilityKeyDetector"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service" />
        </service>
        -->
        <service
            android:name=".service.BackupService"
            android:enabled="true"
            android:exported="false"
            android:label="BackupService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.abbasmoharreri.computingaccount.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>

    </application>

</manifest>